
<div id="wrapper_add_player_container"> 
    <div class="add_player_container">

            <img onclick="closeMultiplayerWindow()" class="close_icon" src="https://cdn-icons-png.flaticon.com/512/57/57165.png" alt="">
            
            <div class="box2">

                <div class="createRoomContainer"> 

                    <div class="roomID">Room ID:  <span class="">21sdfs</span> </div>
                    
                    
                    <div class="playerBox">
                        <div class="box89">
                            <img class="player_logo_image" src="https://img.freepik.com/premium-vector/avatar-man_195186-2753.jpg?w=360" alt="">
                            <div class="playername">
                                Rishu Sharma
                            </div>
                        </div>
                    </div>
                
                    
                    <button  class="start_multiplayer_button" role="button">START</button>
                </div>
    
                <div class="joinRoomContainer"> 
                    <div class="roomID">Join a Room</div>
                    <input type="text">
                    <button id="join-btn">JOIN MATCH</button>
                </div>
            </div>


            <div class="center">
            </div>

    </div>
</div>


<!-- HTML !-->
