
<div id="wrapper_add_player_container"> 
    <div class="add_player_container">

            <img onclick="closeMultiplayerWindow()" class="close_icon" src="https://cdn-icons-png.flaticon.com/512/57/57165.png" alt="">
            <div class="center">
                <button  class="start_multiplayer_button" role="button">START</button>
            </div>

    </div>
</div>


<!-- HTML !-->
