<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=Teko:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap" rel="stylesheet">

    <title>Typer</title>
    
</head>

<body>
  
    <div class="circle">
        <div id="countdown">00</div>
        <div id="countdownleft">SEC</div>
    </div>


  <div id="get_ready_countdown_wrapper" class="center">
        <div class="circle2 center">
              <div id="reverse_conter_time_number">19</div>
        </div>
  </div>


  <div class="container-wrapper">

      <div class="justify_wrapper"> 

        <button onclick="openMultiplayerWindow()" id="go_multiplayer_btn" class="button-28" role="button">MULTIPLAYER</button>
      
        <div id="live_player_status_container">

              <!-- player -->
              <!-- <div class="live_player_box"> 
                <div class="position_rank_live" >#1</div>
                <img class="avatar_logo_live" src="https://img.lovepik.com/free-png/20210923/lovepik-crystal-fox-front-cartoon-avatar-png-image_401269767_wh1200.png" alt="">
                <div>
                  <div class="avatar_name_live">Akhilesh</div>  
                  <div class="avatar_score_live">SCORE: <span class="scoreText">1000</span></div>  
                </div>
              </div> -->
              
        </div>
      </div>

      <div class="container">
        <div class="textContent leftText" id="typedText"></div>
        <div id="pointer"></div>
        <div class="textContent rightText" id="ToTypeText">AI_technology_is_widely_used_throughout_industry,_government,_and_science._Some_high-profile_applications_are:_advanced_web_search_engines_(e.g.,_Google_Search),_recommendation_systems_(used_by_YouTube,_Amazon,_and_Netflix),_understanding_human_speech_(such_as_Google_Assistant,_Siri,_and_Alexa),_self-driving_cars_(e.g.,_Waymo),_generative_and_creative_tools_</div>
      </div>

      <div class="center_wrapper"> 
          <div id="key_to_press_box">T</div>
      </div>

      <%- include('../views/elements/multiplayerBox'); %>

      <div class="info_container">

        <div class="score-card">
          <div class="score-block-content">
            <div class="score-plan">SCORE</div>
            <div id="score-number">0</div>
          </div>
        </div>

        <div class="wpm_accuracy_container">
          <dir> CURRENT WPM: <span  id="wpm_text" class="wpm_accuracy_value">0.0 </span></dir>
          <div class="break-line"></div>
          <dir> ACCURACY: <span id="accuracy_text" class="wpm_accuracy_value"> 0.00 </span>% </dir>
        </div>
        
      </div>

      
  </div>
  
  <script src="/socket.io/socket.io.js"></script>
  <script src="script.js"></script>

</body>
</html>
