<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=Teko:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap" rel="stylesheet">

    <title>Typer</title>
    
</head>

<body>
  
    <div class="circle">
        <div id="countdown">00</div>
    </div>

  <div class="container-wrapper">

      <div class="justify_wrapper"> 

        <button onclick="openMultiplayerWindow()" class="button-28" role="button">MULTIPLAYER</button>
      
        <div class="live_player_status_container">

              <!-- player -->
              <div class="live_player_box"> 
                <div class="position_rank_live" >#1</div>
                <img class="avatar_logo_live" src="https://img.lovepik.com/free-png/20210923/lovepik-crystal-fox-front-cartoon-avatar-png-image_401269767_wh1200.png" alt="">
                <div>
                  <div class="avatar_name_live">Akhilesh</div>  
                  <div class="avatar_score_live">SCORE: <span class="scoreText">1000</span></div>  
                </div>
              </div>
              
              <!-- player -->
              <div class="live_player_box player_active"> 
                <div class="position_rank_live" >#2</div>
                <img class="avatar_logo_live" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0EgoOPcypYckMFAV_AiJVf6zVBrg-zsaDFbunWatYOnPZvFpn_9XSr6iUzEtw-nlpjqg&usqp=CAU" alt="">
                <div>
                  <div class="avatar_name_live">Uranatau</div>  
                  <div class="avatar_score_live">SCORE: <span class="scoreText">500</span></div>  
                </div>
              </div>
              
                            
              <!-- player -->
              <div class="live_player_box"> 
                <div class="position_rank_live" >#3</div>
                <img class="avatar_logo_live" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjGcTeLUMuVUORjPxactDdTiFRgUWSws9sJBSJQQGQsJp4qkyuUzywRsI94zqTdeI7QeM&usqp=CAU" alt="">
                <div>
                  <div class="avatar_name_live">Bipaasa</div>  
                  <div class="avatar_score_live">SCORE: <span class="scoreText">500</span></div>  
                </div>
              </div>
              
              <!-- player -->
              <div class="live_player_box"> 
                <div class="position_rank_live" >#4</div>
                <img class="avatar_logo_live" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjGcTeLUMuVUORjPxactDdTiFRgUWSws9sJBSJQQGQsJp4qkyuUzywRsI94zqTdeI7QeM&usqp=CAU" alt="">
                <div>
                  <div class="avatar_name_live">Riyanshu</div>  
                  <div class="avatar_score_live">SCORE: <span class="scoreText">600</span></div>  
                </div>
              </div>

              <!-- player -->
              <div class="live_player_box"> 
                <div class="position_rank_live" >#5</div>
                <img class="avatar_logo_live" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjGcTeLUMuVUORjPxactDdTiFRgUWSws9sJBSJQQGQsJp4qkyuUzywRsI94zqTdeI7QeM&usqp=CAU" alt="">
                <div>
                  <div class="avatar_name_live">Sujamal</div>  
                  <div class="avatar_score_live">SCORE: <span class="scoreText">700</span></div>  
                </div>
              </div>

        </div>
      </div>

      <div class="container">
        <div class="textContent leftText" id="typedText"></div>
        <div id="pointer"></div>
        <div class="textContent rightText" id="ToTypeText">This_is_a_sample_Text_Just_for_testing_don't_reinvent_the_wheel_just_improve_it.</div>
      </div>

      <div class="center_wrapper"> 
          <div id="key_to_press_box">T</div>
      </div>

      <%- include('../views/elements/multiplayerBox'); %>

      <div class="info_container">

        <div class="score-card">
          <div class="score-block-content">
            <div class="score-plan">SCORE</div>
            <div id="score-number">0</div>
          </div>
        </div>

        <div class="wpm_accuracy_container">
          <dir> CURRENT WPM: <span  id="wpm_text" class="wpm_accuracy_value">0.0 </span></dir>
          <div class="break-line"></div>
          <dir> ACCURACY: <span id="accuracy_text" class="wpm_accuracy_value"> 0.00 </span>% </dir>
        </div>
        
      </div>

      
  </div>
  
  <script src="/socket.io/socket.io.js"></script>
  <script src="script.js"></script>

</body>
</html>
